@media screen and (max-width:585px){
    header nav ul li {
        display: inline-block;
        margin-right: 23.5px;
        margin-left: 13.5px !important;
    }
    header > nav >div{
    margin: 0 0 0 -20px;
    }
    header{
        height:100vh;
        width: 100%;
        max-width: 1420px;
        margin: auto;
    }
    header nav{
        width: 296px;
        margin: auto;
        height: 100px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    header nav ul{
        display: grid;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 1px;
    }
    header nav ul li{
        display: inline-block;
        margin-right: 23.5px;
        margin-left: 23.5px;
    }
    header nav ul li a{
        text-decoration: none;
        font-size: 13pt;
        color: #A19DAF;
        text-transform: capitalize;
    }
    header nav ul li img{
        width: 50px;
        cursor: pointer;
        border-radius: 30px;
        transition:background .3s;
    }
    header nav ul li img:active{
        background: rgba(128, 128, 128, 0.255);
    }
    .ftr{
        text-align: center;
    }
    .ftr h2{
        font-size: 46px;
    }
    .fir{
        width: 90%;
        height: 240%;
    }
    .cmn{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    header div img{
        width: 172.8px;
    }
    .container-div-prt{
        width: 100%;
        height: 490px;
        /* border: dashed grey 1px; */
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    .prt {
        /* height: 20%; */
        /* border: 1px solid grey; */
        display: flex;
        justify-content: center;
    }
    .st {
        width: 100%;
        height: 370px;
        overflow-x: hidden;
    }
    .sd{
        width: 100%;
        position: relative;
        height: 101px;
        display: flex;
        justify-content: center;
        flex-flow: row;
        align-items: center;
    }
    .st img{
        width: 100%;
        min-width: 320px;
    }
    .sd span{
        display: none;
    }
    .sd h1{
        display: none;
    }
    .ris{
        margin: auto;
        width: 194px;
        height: 102px;
        display: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .icon2{
        width: 20px;
        margin: -7px 3px -5px;
    }
    .tw p{
      font-size: 13px;
    }
    .why{
        height: 640px;
    }
    .cont-btn > span{
        font-size: 40px;
    }
    .container-div-why{
        flex-direction: column-reverse;
    }
    .dr{
        width: 89%;
    }
    .dr figure img {
      min-width: 230px;
    }
    .cont-btn{
        width: 100%;
    }
    .cont-btn button{
    padding: 22px 39px;
    }
    footer{
        height: 895px;
    }
    .ftr-container{
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        height: 900px !important;
    }
    .cont-mn{
        height: 100px;
    }
    .cmn {
        position: absolute;
        top: 22px;
        left: -20px;
    }
    .close{
        position: absolute;
        right: -15px;
    }
    .cont-mn img {
        margin: 0 40px;
    }
    #show{
        padding: 0 10px 0 15px;
        border-radius: 0 0 40px 40px;
    }
    .links div img {
        width: 44px;
    }
}